// Recordly.io SCSS main file

// Compass reset ?
// @import "compass/reset";

// Import bourbon
@import 'bourbon';

// Import base from Bitters http://bitters.bourbon.io/
@import 'base/base';

// Import neat
//$visual-grid: true;
@import 'neat';

// Include font-awesome
$fa-css-prefix: 'fa';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import 'font-awesome';

// Generic .hide class
.hide {
	display: none;
}

.outer {
	@include outer-container;
}

.header {
	text-align: center;
	margin-top: 0.5em;
	@include span-columns(4);

	@include media($medium-screen-up) {
	  @include span-columns(4);
	  margin-top: 5em;
	}
	@include media($large-screen-up) {
	  @include span-columns(4);
	}

	h1 {
		font-weight: 400;
	}
	span {
		vertical-align: top;
	}
	.fa {
		font-size: 1.25em;
	}
}

.tagline {
	margin-bottom: 1em;
	font-weight: 400;
}

.video-wrapper {
	@include span-columns(4);
	@include omega();

	.video {
		@include fill-parent;
	}

	@include media($medium-screen-up) {
	  @include span-columns(4);
	  @include omega();
	}
	@include media($large-screen-up) {
	  @include span-columns(8);
	  @include omega();

	  .video {
			@include span-columns(4 of 8);
	  	@include shift(2);
			//margin: 0 auto;
	  }
	}
}

// Video element
.camera-preview {
	height: 250px;
	width: 100%;
	border: 1px solid $blue;
	background: $light-gray;
  border-radius: $base-border-radius;
}

.recording-buttons {
	margin-bottom: 1em;

	button {
		width: 100%;
		margin: 0 auto;
	}
	// Hide disabled recording buttons
	button[disabled] {
		display: none;
	}
}

.features {
	@include outer-container;
}
.feature {
	@include span-columns(4);

	// Have to use medium-large screen to avoid omega() effecting next level too
	@include media($medium-to-large-screen) {
	  @include span-columns(4);
		@include omega(2n);
	}
	@include media($large-screen-up) {
	  @include span-columns(4);
		@include omega(3n);
	}
}

